@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: .78rem;
    line-height: .24rem;
    margin-bottom: 20px;
    color: #016301;
}

.details h3 {
    flex: 1;
    line-height: .8rem
}

.details h3:nth-of-type(2) {
    line-height: 2;
}

.receipt-container {
    font-size: .85rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 20px;
    width: 80%;
}

.receipt-container p {
    position: absolute;
    top: 15px;
    left: 10px;
    text-align: center;
    color: #42ad04;
    font-size: .75rem;
    margin-top: 0;
}

.logo {
    font-size: 3rem;
    text-align: center;
    color: #42ad04;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 20px;
    margin-top: 30px;
    border-bottom: 2px solid #42ad04;
    padding-bottom: 10px;
}

.item {
    color: green;
    border-bottom: 1px solid rgb(209, 208, 208);
    width: 24mm;
}

.item:last-of-type {
    border-bottom: none;
}

.item-header {
    text-align: left;
    padding-left: 20px;
}

.item-price {
    text-align: right;
}

tbody td {
    padding: 20px;
    width: 100%;
}

.table-headers {
    font-size: .75rem;
    background-color: #42ad04;
    color: white;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

tfoot td:nth-of-type(2) {
    text-align: left;
    padding: 1px 20px;
}

#totalAmount {
    text-align: center;
}

/* Media Query for Iphones */
@media (min-width: 320px) and (max-width: 425px) {
    .details {
        font-size: .7rem;
        flex-direction: column;
        width: 100%;
    }

    .details h3 {
        margin: 8px;
        line-height: 1.35rem;
    }

    .logo {
        font-size: 2rem;
    }

    .receipt-container p {
        font-size: .6rem;
    }

    .table {
        font-size: .75rem;
    }

    .table h3 {
        font-size: .75rem;
        margin: 5px 0;
    }

    tfoot td {
        padding: 1px 0;
    }

    tbody td {
        padding: 1px 10px;
        width: 100%;
    }

    tbody td:nth-of-type(2) {
        text-align: center;
        padding: 15px 5px;
    }

    tfoot td:nth-of-type(2) {
        text-align: center;
    }

    #totalAmount {
        text-align: right;
        padding-right: 10px;
    }

    .item-price {
        text-align: center;
    }

}

@media (min-width:425px) and (max-width: 768px) {
    .details {
        font-size: .75rem;
    }

    .details h3 {
        line-height: 1rem;
    }

    .receipt-container p {
        font-size: .65rem;
    }

    .table {
        font-size: 1.05rem;
    }

    .table th>h3 {
        margin: 10px 0;
    }

    tfoot h3 {
        margin: 10px 0;
    }

}